    <div class="card-loader">
      <h3>Here's the Card</h3>
      <div class="inner-card">
      </div>
      <button type="button" class="btn btn-success">Absolutely</button>
      <button type="button" class="btn btn-danger">Hard Pass</button>
    </div>