<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iWolfU</title>
</head>
<body style="background-color: #b3a5c4">
      <nav>
      <ul>
      <a href="/login">login</a>
      <a href="/favoriteDogs">favorites</a>
      <a href="profile.handlebars">Profile</a>
      <a href="/homepage">home</a>
      </ul>
    </nav>
  {{{body}}}
</body>
  <footer>
    <p>Be the person your dog thinks you are</p>
  </footer>
  </body>
  <script src="js/index.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>