 <body style="background-color: #b3a5c4">
    <header class="topGradient">
      <h1 class="IwolfU">iwolfU</h1>
      <h3 class="findyourpetlove">Find your PetLove <i class="fas fa-dog"></i></h3> 
    </header>