<body style="background-color: #b3a5c4">
    <header class="topGradient">
      <h1 class="IwolfU">iwolfU</h1> 
    </header>
    <div class="card-loader">
      <h3 class="findyourpetlove">Find your PetLove</h3>
      <div class="inner-card" id="petdisplay">
        <img id="imageRandom"/>
        <h1 id="DogName"></h1>
      </div>
      <button type="button" onClick="refreshPage()"class="btn btn-success">Absolutely</button>
      <button type="button" onClick="refreshPage()"class="btn btn-danger">Hard Pass</button>
      {{!-- <button type="button" onClick="delete()"class="btn btn-danger">destroy</button> --}}
    </div>
  </body>
</html>

{{!-- search favorites --}}