<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./css/main.css" />
    <title>iwolfu</title>
  </head>
  {{{login}}}
  {{Header}}
  <body style="background-color: #b3a5c4">
    <header class="topGradient">
      <h1 class="IwolfU">iwolfU</h1> 
      {{{profile}}}
    </header>
    <div class="card-loader">
      <h3 class="findyourpetlove">Find your PetLove</h3>
      <div class="inner-card" id="petdisplay">
        <img id="imageRandom"/>
      </div>
      <button type="button" onClick="refreshPage()"class="btn btn-success">Absolutely</button>
      <button type="button" onClick="refreshPage()"class="btn btn-danger">Hard Pass</button>
      <button type="button" onClick="delete()"class="btn btn-danger">destroy</button>
    </div>
  </body>
  <script src="js/index.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>

{{!-- search favorites --}}